body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .feedback-input {
        width: 50%;
    }
}

.slider .slide-track[data-v-3f5590ad] {
    -webkit-animation: scroll-data-v-3f5590ad 40s linear infinite;
    animation: scroll-data-v-3f5590ad 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}